*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    background-color: #fdeff1;
    height: 500px;
    padding: 0px 100px;
}
.headLeft{
    padding: 20px;
}
.headLeft>h1{
    font-weight: 900;
    font-size: 40px;
 
}
.paraText{
    color: #00000092;
    margin: 20px 0;
    line-height: 1.5re;

}
.headRight{
    padding: 0px;
    margin-left: 80px;
    
}
.headRight>img{
     width: 350px;position: absolute;
     bottom: 122px;  
    
}
button{
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #e55473;
    font-weight: 700;
    font-size: 15px;
}
.featured{
   text-align: center;
   margin: 100px 100px;
}
.curvImg{
    display: flex;
}
.curv1>img{
    border-radius: 50% 50% 0 0;
    background-color: #ddd;
    margin: 10px;
    width: 250px;
    height: 300px;
    padding: 80px 40px 0 40px;
    background-color: #f3dee6;
}
.curv2>img{
    border-radius: 50% 50% 0 0;
    background-color: #ddd;
    margin: 10px;
    width: 250px;
    height: 300px;
    padding: 80px 40px 0 40px;
    background-color: #d9eff1;
}
.curv3>img{
    border-radius: 50% 50% 0 0;
    background-color: #ddd;
    margin: 10px;
    width: 250px;
    height: 300px;
    padding: 80px 40px 0 40px;
    background-color: #e3eada;
}
.curvP{
    text-decoration: underline;
    cursor: pointer;
    
}

.services{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f5f5;
    box-sizing: border-box;
    padding: 40px 0;
    margin: 100px 30px;
}
.services>div{
    padding: 0 50px;
}
.services>div>img{
    width: 60px;
}
.deal{
    background-color: #fff7f8;
    display: flex;
    align-items: center;
    padding: 0px 100px;
}
.dealCard1{
    text-align: center;
}
.off{
    color:#e55473
}
.dealCard2{
    padding: 50px;
}
.dealCard2>img{
    width: 70%;
    padding-left: 100px;
}
.socialShare{
    margin: 70px 100px;
    text-align: center;
}
.imgContainer{
    margin: 40px 0;
}
.imgContainer>img{
    width: 220px;
    height: 245px;
    padding: 5px;
}
.info{
    margin: 0 170px;
    border-radius: 4px;
    padding: 100px 200px ;
    text-align: center;
    background-image: url(./img/Rectangle\ 9.png);
}
.info>p{
    font-size: 13px;
    margin: 5px 0 40px 0;
}
.info>input{
    width: 400px;
    height: 25px;
    padding: 6px 10px 6px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
}
footer{
    text-align: center;
    background-color: #000;
    margin-top: 100px;
    padding: 100px 0;
    color: #fff;
}
footer>p{
    padding-top: 10px;
    padding-bottom: 20px;
}
footer>small{
    color: #7d7c7d;
}
footer>small>a{
    color: #7d7c7d;
    text-decoration: none;
}